<nav id="navTop" role="navigation" class="hidden-print">
  <ul class="list list-inline">
    <li>
      <a href="/" {{#if (equals url '/')}} class="active"{{/if}}>
        <img class="logo" src="/public/octopus.svg" />
        <span class="branding">Octopus</span>
      </a>
    </li>
    <li>
      <a href="/publications/search" {{#if (startsWith url '/publications')}} class="active"{{/if}}>
        <span class="fa fa-fw fa-files-o"></span>
        All publications
      </a>
    </li>
    <li>
      <a href="/publish" {{#if (startsWith url '/publish')}} class="active"{{/if}}>
        <span class="fa fa-fw fa-file-word-o"></span>
        Publish your work
      </a>
    </li>
    <li>
      <form method="GET" action="/publications/search" class="form-inline" id="searchFormTop">
        <!-- <div class="form-group"> -->
          <div class="input-group">
            <label for="searchTopFormTopInput" class="sr-only">Search term</label>
            <input id="searchTopFormTopInput" class="searchTopFormInput" name="phrase" type="text" value="{{query.phrase}}" placeholder="Search..." />
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle searchTopFormType" data-toggle="dropdown">
                <span class="dropdown-selection">in Publications</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" onClick="toggleSearchScope(event); triggerSearch()" data-url="/publications/search">in Publications</a></li>
                <li><a href="#" onClick="toggleSearchScope(event); triggerSearch()" data-url="/users/search">in Authors</a></li>
              </ul>
              <button type="submit" class="btn btn-default searchTopFormSubmitBtn">
                  <span class="fa fa-search"></span>
                  <span class="sr-only">Submit search</span>
              </button>
            </div>
          </div>
        <!-- </div> -->

      </form>
    </li>
    <li class="pull-right">
      {{#if user}}
        <a href="/users/view/{{user.orcid}}">{{user.name}}</a>
      {{else}}
        <a href="/auth/orcid/login?returnPath={{url}}">Log in via ORCiD</a>
      {{/if}}
    </li>
  </ul>
</nav>

<div id="printHeader" class="visible-print">
  <img class="logo" src="/public/octopus.svg" />
  <span class="branding strong">Octopus.</span>
  <span>Built for scientists.</span>
</div>
