<nav id="navTop" role="navigation">
  <ul class="list list-inline">
    <li>
      <a href="/" {{#if (equals url '/')}} class="active"{{/if}}>
        <img class="logo" src="/public/octopus.svg" />
        <span class="branding">Octopus</span>
      </a>
    </li>
    <li>
      <a href="/publications/search" {{#if (startsWith url '/publications')}} class="active"{{/if}}>
        <span class="fa fa-fw fa-files-o"></span>
        All publications
      </a>
    </li>
    <li>
      <a href="/publish" {{#if (startsWith url '/publish')}} class="active"{{/if}}>
        <span class="fa fa-fw fa-file-word-o"></span>
        Publish your work
      </a>
    </li>
    <li>
      <form method="GET" action="/publications/search" class="form-inline" id="searchFormTop">
        <!-- <div class="form-group"> -->
          <label for="searchFormTopInput" class="sr-only">Search term</label>
          <input id="searchFormTopInput" class="searchFormInput" name="phrase" type="text" value="{{query.phrase}}" placeholder="Search publications" />

          <button type="submit" class="btn btn-default searchFormSubmitBtn">
            <span class="fa fa-search"></span>
            <span class="sr-only">Submit search</span>
          </button>
        <!-- </div> -->

      </form>
    </li>
    <li class="pull-right">
      {{#if user}}
        <a href="/users/view/{{user.orcid}}">{{user.name}}</a>
      {{else}}
        <a href="/auth/orcid/login?returnPath={{url}}">Log in via ORCiD</a>
      {{/if}}
    </li>
  </ul>
</nav>
