<form class="rating" method="POST" action="/publications/rate/{{publication._id}}">
	{{#each publicationType.ratingCriteria}}
		<p><b>{{this}}</b>
		{{#if (get ../publication.ratings.values @index)}}
		<small>{{get ../publication.ratings.values @index}} ({{../publication.ratings.total}} total)</small>
		{{/if}}
		</p>
		<div class="star-rating">
			<div class="star-rating__wrap input-group">
				{{#times 5}}
					<input
						type="radio"
						name="rating{{@key}}"
						class="star-rating__input"
						id="star-rating-{{@key}}{{math "add" @index 1}}"
						value="{{math "sub" 5 @index}}"
						onchange="$(form).serializeArray().length === 3 && form.submit()"
						{{checkRating ../publication.ratings.values @key @index 5 ../publication.ratings.rated}}
						{{#if ../publication.ratings.rated}}disabled{{/if}}
						>
					<label
						class="star-rating__ico fa fa-star-o fa-lg"
						for="star-rating-{{@key}}{{math "add" @index 1}}"
						title="{{math "sub" 5 @index}} out of 5 stars"></label>
				{{/times}}
			</div>
		</div>
	{{/each}}
</form>