{{> header}}

<div class="container-fluid" id="mainBody" role="main">

  <div class="row">
    <div class="col-sm-3" id="sidebar">

      <h2 class="plainBodyText">
        <strong>Refine search</strong>
      </h2>

      <form method="GET" action="" class="form-inline" id="searchFormSidebar">
        <!-- <div class="form-group"> -->
          <label for="searchFormSidebarInput" class="sr-only">Search term</label>
          <input id="searchFormSidebarInput" class="searchFormInput" name="phrase" type="text" value="{{query.phrase}}" placeholder="Search publications" />

          <button type="submit" class="btn btn-default searchFormSubmitBtn">
            <span class="fa fa-search"></span>
            <span class="sr-only">Submit search</span>
          </button>
        <!-- </div> -->
      </form>

      <form method="GET" action="" class="form-horizontal">
        <!-- <div class="form-group"> -->
          <strong>Filter by Publication type:</strong>
          <br />

          {{#each publicationTypes}}
          <div class="checkbox"><label>
            <input type="checkbox" checked="checked" name="publicationTypes" value="{{this.key}}" /> {{this.title}}
          </label></div>
          {{/each}}
        <!-- </div> -->
      </form>
    </div>

    <div class="col-sm-9">

      <div class="pull-right">
        <form method="GET" action="" class="form-inline">
          <div class="form-group">
            <strong>Sort by:</strong>
            <select>
              <option>Title (A-Z)</option>
              <option>Title (Z-A)</option>
              <option>Creation date (newest-oldest)</option>
              <option>Creation date (oldest-newest)</option>
              <option>Last activity date (newest-oldest)</option>
              <option>Last activity date (oldest-newest)</option>
            </select>
          </div>
        </form>
      </div>

      <h1 class="plainBodyText">
        Showing {{publications.displayedCount}} publications
        out of {{publications.totalCount}} total
        {{~#if query.phrase}} for term "{{query.phrase}}"{{/if}}.
      </h1>

      <br />

      {{#each publications.results}}
        <div class="row result-item">
          <div class="col-xs-12">
            <h2><a href="/publications/view/{{this.id}}">{{{markHits this.title ../query.phrase}}}</a></h2>

            <p>{{{markHits this.summary ../query.phrase}}}</p>

            <!-- <blockquote>{{{markHits this.summary ../queryPhrase}}}</blockquote> -->

            <p>{{this.authors}}</p>

            <ul class="list-unstyled">
              <li>Parent publication: {{this.parentPublication}} &nbsp;</li>
              <li>Part of problem: {{this.parentProblem}} &nbsp;</li>
            </ul>

            <ul class="list list-inline">
              <li><span class="label label-default">{{this.type}}</span></li>
              <li>Last activity: {{formatDate this.dateLastActivity}} &nbsp;</li>
            </ul>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>

{{> navTop}}

{{> footer}}
