{{> header}}

<div class="container-fluid" id="mainBody" role="main">

  <div class="row">
    <div class="col-sm-3" id="sidebar">

      <h2 class="plainBodyText">
        <strong>Refine search</strong>
      </h2>

      <form method="GET" action="" class="form-inline" id="searchFormSidebar">
        <!-- <div class="form-group"> -->
          <label for="searchFormSidebarInput" class="sr-only">Search term</label>
          <input id="searchFormSidebarInput" class="searchFormInput" name="query" type="text" value="{{query}}" placeholder="Search publications" />

          <button type="submit" class="btn btn-default searchFormSubmitBtn">
            <span class="fa fa-search"></span>
            <span class="sr-only">Submit search</span>
          </button>
        <!-- </div> -->
      </form>

      <form method="GET" action="" class="form-horizontal">
        <!-- <div class="form-group"> -->
          <strong>Publication type:</strong>
          <br />

          {{#each publicationTypes}}
          <div class="checkbox"><label>
            <input type="checkbox" checked="checked" name="publicationTypes" value="{{this.key}}" /> {{this.title}}
          </label></div>
          {{/each}}
        <!-- </div> -->
      </form>

      <form method="GET" action="" class="form-inline">
        <!-- <div class="form-group"> -->
          <strong>Sort by:</strong>
          <br />
          <select>
            <option>Title (A-Z)</option>
            <option>Title (Z-A)</option>
            <option>Creation date (newest-oldest)</option>
            <option>Creation date (oldest-newest)</option>
            <option>Last activity date (newest-oldest)</option>
            <option>Last activity date (oldest-newest)</option>
          </select>
        <!-- </div> -->
      </form>


    </div>

    <div class="col-sm-9">


      <h1 class="plainBodyText">
        <strong>Showing {{publications.displayedCount}} results out of {{publications.totalCount}} total</strong>
          {{#if query}} for term "{{query}}"{{/if}}.
          <!-- {{#if category}} in <i>{{category.name}}</i>{{else}} across categories{{/if}}. -->
      </h1>
      <br />

      {{#each publications.results}}
        <div class="row result-item">
          <div class="col-xs-12">
            <h2><a href="/publications/view/{{this.id}}">{{{markHits this.title ../query}}}</a></h2>

            <p>{{{markHits this.summary ../query}}}</p>

            <!-- <blockquote>{{{markHits this.summary ../query}}}</blockquote> -->

            <p>{{this.authors}}</p>

            <ul class="list list-inline">
              <li><span class="label label-default">{{this.type}}</span></li>
              <li>Parent publication: {{this.parentPublication}} &nbsp;</li>
              <li>Part of problem: {{this.parentProblem}} &nbsp;</li>
              <li>Last activity: {{formatDate this.dateLastActivity}} &nbsp;</li>
            </ul>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>

{{> navTop}}

{{> footer}}
