{{> header}}

<div class="container-fluid" id="mainBody" role="main">

  <div class="row">
    <div class="col-sm-3" id="sidebar">

      <h5><strong>Refine search</strong></h5>
      <form method="GET" action="" class="form-inline" id="searchFormSidebar">
        <!-- <div class="form-group"> -->
          <label for="searchFormSidebarInput" class="sr-only">Search term</label>
          <input id="searchFormSidebarInput" class="searchFormInput" name="phrase" type="text" value="{{query.phrase}}" placeholder="Search publications" />

          <button type="submit" class="btn btn-default searchFormSubmitBtn">
            <span class="fa fa-search"></span>
            <span class="sr-only">Submit search</span>
          </button>
        <!-- </div> -->
      </form>

      <br/>

      <h5><strong>Filter by Publication type:</strong></h5>
      <form method="GET" action="" class="form-horizontal">
          {{#each publicationTypes}}
          <div class="checkbox"><label>
            <input type="checkbox" checked="checked" name="publicationTypes" value="{{this.key}}" /> {{this.plural}}
          </label></div>
          {{/each}}
      </form>

      <br/>

      <h5><strong>Filter by Publication date:</strong></h5>
      <form method="GET" action="" class="form-horizontal">
          <div class="radio"><label>
            <input type="radio" name="publicationDate" value="now-1m" /> Last month
          </label></div>
          <div class="radio"><label>
            <input type="radio" name="publicationDate" value="now-3m" /> Last 3 months
          </label></div>
          <div class="radio"><label>
            <input type="radio" checked="checked" name="publicationDate" value="all" /> All
          </label></div>
      </form>
    </div>

    <div class="col-sm-9">

      <div class="pull-right">
        <form method="GET" action="" class="form-inline">
          <div class="form-group">
            <strong>Sort by:</strong>
            <select>
              <option>Date added (newest-oldest)</option>
              <option>Date added (oldest-newest)</option>
              <option>Title (A-Z)</option>
              <option>Title (Z-A)</option>
              <!-- <option>Last activity date (newest-oldest)</option> -->
              <!-- <option>Last activity date (oldest-newest)</option> -->
            </select>
          </div>
        </form>
      </div>

      <h1 class="text-plain">
        Showing {{publications.displayedCount}} publications
        out of {{publications.totalCount}} total
        {{~#if query.phrase}} for term "{{query.phrase}}"{{/if}}.
      </h1>

      <br />

      {{#each publications.results}}
        <div class="row result-item">
          <div class="col-xs-12">
            <h2><a href="/publications/view/{{this._id}}">{{{markHits this.title ../query.phrase}}}</a></h2>
            <span class="label label-default">{{this.type}}</span>
            <br /><br />

            <p>{{{markHits this.summary ../query.phrase}}}</p>

            <!-- <blockquote>{{{markHits this.summary ../query.phrase}}}</blockquote> -->

            <ul class="list-unstyled small">
              <li><strong>Date added:</strong> {{formatDate this.dateCreated}} &nbsp;</li>
              <li><strong>Authors:</strong>{{> authorsList authors=this.authors}}</li>
            </ul>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>

{{> navTop}}

{{> footer}}
