{{> header}}

<div class="pubChainContainer">
  <div class="pubChainControls">
    <a href="#" class="btn btn-primary btn-md"
    onclick="OctopusApp.togglePubChainVisibility()"
    data-toggle="tooltip" data-placement="right"
    title="Show/hide publication chain."
    >
      <span class="fa fa-fw fa-chevron-up"></span>
    </a>

    <a href="#" class="btn btn-primary btn-md"
    onclick="OctopusApp.togglePubChainAutoshrink()"
    data-toggle="tooltip" data-placement="right"
    title="Automatically shrink the columns to fit window width."
    >
      <span class="fa fa-fw fa-arrows-h" title="Autoshrink columns to fit window width"></span>
    </a>

    <a href="#" class="btn btn-primary btn-md"
    onclick="OctopusApp.togglePubChainMode()"
    data-toggle="tooltip" data-placement="right"
    title="Toggle publication chain mode (columns or graph)"
    >
      <span class="fa fa-fw fa-sitemap"></span>
    </a>
  </div>

  <div class="pubChain">
    <div class="pubChainContent">
      <!-- <p>Publication chain:</p> -->

      {{#each publicationTypes}}
        {{#unless (equals this.attributes.displayInPubChain false)}}
        <div class="typeColumn">
          <p class="heading">{{this.plural}}</p>
          <p class="pubItem">Placeholder publication</p>
        </div>
        {{/unless}}
      {{/each}}

      <div class="clearfix"></div>
    </div>
  </div>
</div>

<hr class="octopus-separator" />

<div class="container-fluid" id="mainBody" role="main">
  <div class="row">
    <div class="col-sm-9">

      <h1><span class="text-accent">{{publication.type}}:</span> {{publication.title}}</h1>

      <p>Authors: {{publication.authors}}</p>
      <p>Date added: {{formatDate publication.dateCreated}}</p>

      <hr />

      <p>Part of problems: {{publication.parentProblems}}</p>
      <p>Parent publications: {{publication.parentPublication}}</p>

      <hr />

      <div>
        <h3>Summary</h3>
        <p>{{publication.summary}}</p>
      </div>

      <hr />

      <div>
        <h3>Full text</h3>
        <p>{{publication.text}}</p>
      </div>

      <hr />

      <div>
        <h3>Additional information</h3>
        <p>
          <strong>Funding Statement:</strong>
          <br />
          {{publication.fundingStatement}}
        </p>
        <p>
          <strong>Conflict of Interest Declaration:</strong>
          <br />
          {{publication.coiDeclaration}}
        </p>
        <p>
          <strong>Keywords:</strong>
          <br />
          {{publication.keywords}}
        </p>
        <p>
          <strong>Files:</strong>
          <br />
          ...
        </p>
      </div>
    </div>

    <div class="col-sm-3" id="sidebar">
      <h2>Ratings</h2>
      <div>7 ratings</div>

      <h2>Reviews</h2>
      <div>3 reviews</div>

      <br />
      <br />

      <a href="#">Write a review</a>
      <br />
      <a href="#">Write a linked publication</a>
    </div>

  </div>
</div>

{{> navTop}}

{{> footer}}
