<div>
  <p>You can select multiple publications that you think are related to this one and are not already related to it.</p>

  <form method="POST" action="/related-publications/{{publication._id}}" class="flex">
    {{#if publication.relatablePublications}}
      <select multiple id="addRelatedPublications" name="addRelatedPublications" class="form-control selectpicker mr-1"
        data-live-search="true" data-icon-base="FontAwesome" data-tick-icon="fa fa-check"
        data-none-selected-text="Please select which publication you wish to relate to">
        {{#each publication.relatablePublications}}
          <option value="{{this._id}}" title="{{this.title}}" data-subtext="{{this.type}}">
            {{this.title}}
          </option>
          {{/each}}
      </select>

      <button type="submit" class="btn btn-md btn-primary ml-1">Add</button>
    {{else}}
      <p>No publications available.</p>
    {{/if}}
  </form>
</div>