<div class="pubChainContainer" data-publication="{{publication._id}}">
  <div class="pubChainControls">
    <a href="#" class="btn btn-primary btn-md" onclick="OctopusApp.togglePubChainVisibility()" data-toggle="tooltip"
      data-placement="right" title="Show/hide publication chain.">
      <span class="fa fa-fw fa-chevron-up"></span>
    </a>
    <!-- <a href="#" class="btn btn-primary btn-md" onclick="OctopusApp.togglePubChainAutoshrink()" data-toggle="tooltip"
      data-placement="right" title="Automatically shrink the columns to fit window width.">
      <span class="fa fa-fw fa-arrows-h" title="Autoshrink columns to fit window width"></span>
    </a> -->
    <!-- <a href="#" class="btn btn-primary btn-md" onclick="OctopusApp.togglePubChainMode()" data-toggle="tooltip"
      data-placement="right" title="Toggle publication chain mode (columns or graph)">
      <span class="fa fa-fw fa-sitemap"></span>
    </a> -->
  </div>

  <div class="pubChain">
    <div class="pubChainContent">
      {{#each publicationTypes}}
        {{#unless (equals this.attributes.displayInPubChain false)}}
            <div class="typeColumn" style="position: relative;">
              <p class="heading">{{this.plural}}</p>

              {{#each ../countedPublications}}
                {{#if (equals type  ../key)}}
                  <div class="counter">{{counter}}</div>
                {{/if}}
              {{/each}}

              <div class="publicationsList">
                {{#each ../publications}}
                  {{#if (equals type  ../key)}}
                    <a id={{_id}} title="{{title}}" href="/publications/view/{{_id}}" class="pubItem" linked="{{toString linkedPublications}}">
                      <h5 class="title">{{title}}</h5>

                      <div class="authors">
                        {{#each authors}}
                        <span>{{name}}</span>
                        {{/each}}
                      </div>

                      <div>{{formatDate dateCreated}}</div>
                    </a>
                  {{/if}}
                {{/each}}
              </div>
            </div>
            <svg></svg>
        {{/unless}}
      {{/each}}
      <div class="clearfix"></div>
    </div>
  </div>
</div>
