<div>
  {{#if publication.relatedPublications.length}}
    {{#each publicationTypes}}
      {{#if (findItemByKey ../publication.relatedPublications key "publicationType")}}
        <div class="related-publication__wrap">
          <strong> Related {{plural}} </strong>
          <strong> Score </strong>
        </div>
      {{/if}}
      <div class="mb-2">
        {{#each ../publication.relatedPublications}}
          {{#if (equals publicationType  ../key)}}
            <div class="related-publication__wrap">
              <a id={{publicationID}} title="{{publicationTitle}}"
                href="/publications/view/{{relatedTo}}?related={{publicationID}}">
                {{publicationTitle}}
              </a>

              <div class="mr-3">{{rating}}</div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/each}}

    {{else}}
    <p>No related publications available.</p>
  {{/if}}
</div>