<ul class="nav nav-tabs">
  {{#if version}}
  {{#times publication.revision}}
  <li role="presentation" {{#if (equals version @pos)}}class="active" {{/if}}>
    {{#if (equals version @pos)}} <a>Version {{@pos}}</a>
    {{else if @last}} <a href="{{publication._id}}">Version {{@pos}}</a>
    {{else}} <a href="{{publication._id}}?v={{@pos}}">Version {{@pos}}</a>
    {{/if}}
  </li>
  {{/times}} {{!-- END Revision view --}}
  {{else}} {{!-- Current view --}}
  {{#times publication.revision}}
  <li role="presentation" {{#if @last}}class="active" {{/if}}>
    {{#if @last}} <a>Version {{@pos}}</a>
    {{else}} <a href="/publications/view/{{publication._id}}?v={{@pos}}">Version {{@pos}}</a>
    {{/if}}
  </li>
  {{/times}}
  {{#if (equals publication.status "LIVE")}}
  <li>
    <a href="/publications/archive/{{publication._id}}">
      <span class="fa fa-plus"></span>&nbsp;&nbsp;Reversion this publication
    </a>
  </li>
  {{/if}}
  {{/if}}
</ul>