{{> header}}

<div class="container-fluid" id="publicationChain" role="main">

  <p>Problem: {{problem.title}}</p>
  <p>[publication chain]</p>

</div>

<div class="container-fluid" id="mainBody" role="main">

  <div class="row">
    <div class="col-sm-9">

      <h1 class="plainBodyText hide ">
        <strong>Showing {{resultsDisplayed}} results out of {{resultsTotal}} total</strong>
          {{#if query}} for term "{{query}}"{{/if}}
          {{#if category}} in <i>{{category.name}}</i>{{else}} across categories{{/if}}.
      </h1>
      <br />

        <div class="row result-item">
          <div class="col-xs-8 col-sm-10">
            <p class="category">{{publication.problem}}</p>

            <h2>{{{markHits publication.title ../query}}}</h2>
            <p>{{publication.summary}}</p>
            <p>{{publication.authors}}</p>
            <!-- <blockquote>{{publication.abstract}}</blockquote> -->

            <p>Last modified: {{publication.dateLastActivity}}</p>
          </div>

          <div class="col-xs-4 col-sm-2 text-right">
            Stage {{publication.stage}}
            <div class="clearfix"></div>
          </div>
        </div>
        <hr />

    </div>

    <div class="col-sm-3" id="sidebar">
      <h2>Reviews</h2>

      <div>ASDF</div>
    </div>

  </div>

</div>

{{> navTop}}

{{> footer}}
