{{> header}}

<div class="container" role="main">
  <h1>Publish your work</h1>

  <h2>
    <span class="small">Step 2 of 3</span>
    <br />
    Enter publication details
  </h2>

  <form method="POST" action="/publish/step/3">
    <input type="hidden" name="publicationType" value="{{publication.publicationType}}" />

    <div class="form-group">
      <label for="parentPublications">1. Publications to link to</label>
      <p>Publications need to be linked to a publication of an immediately preceding type (i.e. "analysis" must be linked to a "result" publication).</p>
      <select id="parentPublications" class="form-control" name="parentPublications">
        <option disabled selected></option>
        {{#each allLinkablePublications}}
          <option value="{{this._id}}">{{this.type}}: {{this.title}}</option>
        {{/each}}
      </select>
      <!-- <a href="#" id="linkedPublicationsBtn" onclick="showLinkablePublications({{publication.publicationType}})">Select one or more publications to link to</a>. -->
    </div>

    <div class="form-group">
      <label for="publicationTitle">2. Publication title</label>
      <input required id="publicationTitle" class="form-control" name="publicationTitle" type="text" value="" placeholder="Enter publication title" />
    </div>

    <div class="form-group">
      <label for="publicationSummary">3. Publication summary</label>
      <textarea required id="publicationSummary" class="form-control" name="publicationSummary" placeholder="Enter publication summary"></textarea>
    </div>

    <div class="form-group">
      <label for="publicationKeywords">4. Publication keywords</label>
      <input required id="publicationKeywords" class="form-control" name="publicationKeywords" type="text" value="" placeholder="Enter publication keywords" />
    </div>

    <div class="form-group">
      <label for="collaborators">5. Collaborators</label>
      <input required id="collaborators" class="form-control" name="collaborators" type="text" value="{{user.orcid}}" placeholder="Enter collaborators ORCiD identifiers" />
    </div>

    <div class="form-group">
      <label for="fundingStatement">6. Funding statement</label>

      <p>
        If this research has any funding sources you think readers should be aware of, add them here.<br />
        For example, funded by the British Council. If no funding sources need to be stated, feel free to enter "None".
      </p>

      <textarea required id="fundingStatement" class="form-control" name="fundingStatement" placeholder="Enter funding statement"></textarea>
    </div>


    <div class="form-group">
      <label for="coiDeclaration">7. Conflict of Interest declaration</label>

      <p>
        Declare any potential conflicts of interest this publication may have.<br />
        If there aren't any, just type "No conflicts of interest".
      </p>

      <textarea required id="coiDeclaration" class="form-control" name="coiDeclaration" placeholder="Publication Title here"></textarea>
    </div>

    <button type="submit" class="btn btn-md btn-primary">Next</button>
  </form>
</div>

{{> publishingInfoModal}}

{{> navTop}}

{{> footer}}
