{{> header}}

<div class="container" role="main">
  <h1>
    <span class="small">Step 2 of 3</span>
    <br />
    Enter publication details
  </h1>

  <br/>

  <form method="POST" action="/publish/step/3">
    {{> publishingStepsData publication }}

    <div class="form-group">
      <label for="linkedPublications">1. Publications to link to</label>
      {{#if allLinkablePublications}}
        <p>
          Your <span class="lowercase">{{publication.type}}</span> needs to be linked to an existing
          <span class="inline-flex">
            {{#each allLinkablePublications}}
              {{#if @index}}
                  {{#if @last}}
                  <span>&nbsp;or&nbsp;</span>
                {{else}}
                  <span>,&nbsp;</span>
                {{/if}}
              {{/if}}
              <span class="lowercase">{{this.type}}</span>
            {{/each}}
          </span>.
        </p>
        <select multiple id="linkedPublications" name="linkedPublications" class="form-control selectpicker" data-live-search="true" data-icon-base="FontAwesome" data-tick-icon="fa fa-check" data-none-selected-text="Please select which publication you wish to link to">
          {{#each allLinkablePublications}}
            <option value="{{this.id}}" title="{{this.title}}" data-subtext="{{this.type}}"
              {{#if (equals ../linkedPublicationId this.id)}}selected{{/if}}>
              {{this.title}}
            </option>
          {{/each}}
        </select>
      {{else}}
        <p>No publications available.</p>
      {{/if}}
    </div>

    <div class="form-group">
      <label>2. Authors</label>

      <p>All authors need to have an ORCiD number with a valid email address. All authors will be emailed on submission in order to authorise publication before it goes live.</p>
      <select multiple id="publicationCollaborators" name="publicationCollaborators" class="form-control selectpicker" data-live-search="true" data-icon-base="FontAwesome" data-tick-icon="fa fa-check" data-none-selected-text="Please select your co-author" data-size="10">
        <option default value="{{user.orcid}}" title="{{user.name}}" data-subtext="{{user.organization.name}}" selected>{{user.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="publicationTitle">3. Publication title</label>
      <input required id="publicationTitle" class="form-control" name="publicationTitle" type="text" value="" placeholder="Enter a title that gives readers as good an idea as possible of the content of the publication. Max characters 100" maxlength="100"/>
    </div>

    <div class="form-group">
      <label for="publicationSummary">4. Publication summary</label>
      <textarea required id="publicationSummary" class="form-control" name="publicationSummary" placeholder="Enter a sentence that gives readers more detail of the publication. Max characters 200" maxlength="100"></textarea>
    </div>

    <div class="form-group">
      <label for="publicationDataUrl">5.
        {{#if (equals publication.type "PROTOCOL")}} Link to detailed protocol
        {{else if (equals publication.type "RESULT")}} Link to raw data file(s)
        {{else if (equals publication.type "ANALYSIS")}} Link to analytical code
        {{else}} Link to any additional or supplementary information about this publication
        {{/if}}
      </label>

      <p>If you have used a specialist data repository/code-sharing platform/protocol-sharing platform please enter the URL or DOI here:</p>

      <input id="publicationDataUrl" class="form-control" name="publicationDataUrl"/>

      {{#if (equals publication.type "RESULT")}}
        <br/>

        <p>If data collection involved human or animal subjects, please give details of the ethical permissions here:</p>

        <textarea id="ethicalPermissions" class="form-control" name="ethicalPermissions" placeholder="Please enter full details of the ethical permission granted, including the ethical board name and permission number" maxlength="100"></textarea>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="publicationKeywords">6. Publication keywords (optional)</label>
      <input id="publicationKeywords" class="form-control" name="publicationKeywords" type="text" value="" placeholder="Enter up to 5 keywords to help search engines find your publication" />
    </div>

    <div class="form-group">
      <label for="fundingStatement">7. Funding statement</label>

      <p>Please acknowledge all sources of funding for this work and supporting each of the authors.<br/>If the rare case that no funding sources need to be stated, feel free to enter "None".</p>

      <textarea required id="fundingStatement" class="form-control" name="fundingStatement" placeholder="Enter funding statement"></textarea>
    </div>

    <div class="form-group">
      <label for="coiDeclaration">8. Conflict of Interest declaration</label>

      <p>Declare any potential conflicts of interest this publication may have. This includes past and present financial support relevant to this publication; employment or volunteer positions of any authors or their close family for organisations who might be perceived as having an interest in this publication; intellectual interests (such as Intellectual Property rights held by the authors).<br/>If in doubt whether an interest is relevant, declare it! If there aren't any, just type "No conflicts of interest".
      </p>

      <textarea required id="coiDeclaration" class="form-control" name="coiDeclaration" placeholder="Enter Conflict of Interest declaration"></textarea>
    </div>

    {{#if (equals publication.type "PROTOCOL")}}
    <div class="form-group">
      <label>9. Has this method already been carried out?</label>

      <div class="checkbox">
        <label>
          <input id="publicationCarriedOut" name="publicationCarriedOut" type="checkbox" class="form-check-input"/>
          If this method is being published before it has been carried out and results collected (the equivalent of a Registered Report) please tick this box.
        </label>
      </div>
    </div>
    {{/if}}

    <button type="submit" class="btn btn-md btn-primary">Next</button>
  </form>
</div>

<link rel="stylesheet" href="/public/vendor/bootstrap-select-1.13.9/bootstrap-select.min.css">
<script src="/public/vendor/bootstrap-select-1.13.9/bootstrap-select.min.js"></script>
<script src="/public/js/authorsSearch.js"></script>

{{> navTop}}

{{> footer}}
