<div class="container-fluid" id="mainBody" role="main">
  <form action="/publications/save/{{publication._id}}" method="POST">
  <div class="row">
    <div class="col-sm-9">
      {{> publications/versionTabs version=version publication=publication}}

      <h1><span class="text-accent">{{publication.type}}:</span> {{publication.title}}</h1>

      <p>Date added: {{formatDate publication.dateCreated}}</p>

      <hr />

      <h3>Title <span class="required">*</span></h3>
      <input required id="publicationTitle" class="form-control" name="publicationTitle" type="text" value="{{publication.title}}" placeholder="Enter a title that gives readers as good an idea as possible of the content of the publication. Max characters 100" maxlength="100"/>

      <br />
      
      <div>
        <h3>Authors <span class="required">*</span></h3>
        <ul id="publicationCollaboratorsList">
          {{#each publication.authors}}
            <li class="flex mb-3 publicationCollaborator">
              <i class="btn btn-link">
                <i class="fa fa-sort"></i>
              </i>

              <select
                name="publicationCollaborators"
                class="form-control selectpicker mr-1"
                data-live-search="true"
                data-icon-base="FontAwesome"
                data-tick-icon="fa fa-check"
                data-none-selected-text="Please select your co-author"
                data-size="10"
                required
                >
                <option
                  default
                  selected
                  value="{{this.orcid}}"
                  title="{{this.name}}"
                  data-subtext="{{this.organization.name}}">
                  {{this.name}}
                  </option>
              </select>

              <button type="button" onclick="removeCollaboratorField(this)" class="btn btn-default ml-1">
                <i class="fa fa-trash"></i>
              </button>
            </li>
          {{/each}}
        </ul>
        <button type="button" onClick="addCollaboratorField()" class="btn btn-primary ml-2">
          <i class="fa fa-plus mr-1"></i>
          Add an author
        </button>
      </div>

      <hr />

      <div>
        <h3>Full text</h3>
        <textarea id="publicationText" name="publicationText">{{{publication.text}}}</textarea>
      </div>

      <hr />

      <div>
        <h3>Additional information</h3>
        <p>
          <strong>Funding Statement: <span class="required">*</span></strong>
          <br />
          <textarea required class="form-control" id="publicationFundingStatement"
            name="publicationFundingStatement">{{publication.fundingStatement}}</textarea>
        </p>
        <p>
          <strong>Conflict of Interest Declaration: <span class="required">*</span></strong>
          <br />
          <textarea required class="form-control" id="publicationCoiDeclaration"
            name="publicationCoiDeclaration">{{publication.coiDeclaration}}</textarea>
        </p>

        <p>
          <strong for="copyrightLicence">CC-BY Licence <span class="required">*</span></strong>

          <select required id="copyrightLicence" name="copyrightLicence" class="form-control selectpicker">
            <option selected value={{publication.copyrightLicence}}> {{publication.copyrightLicence}}</option>
            <option value="CC-BY" title="CC BY"> CC BY </option>
            <option value="CC-BY-SA" title="CC BY-SA"> CC BY-SA </option>
            <option value="CC-BY-ND" title="CC BY-ND"> CC BY-ND </option>
            <option value="CC-BY-NC" title="CC BY-NC"> CC BY-NC </option>
            <option value="CC-BY-NC-SA" title="CC BY-NC-SA"> CC BY-NC-SA </option>
            <option value="CC-BY-NC-ND" title="CC BY-NC-ND"> CC BY-NC-ND </option>
          </select>
        </p>

        <p>
          <strong>Keywords:</strong>
          <br />
          <input class="form-control" id="publicationKeywords" name="publicationKeywords"
            value="{{publication.keywords}}" />
        </p>
        <p>
          <strong>Files:</strong>
          <br />
          {{publication.files}}
        </p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="sidebar">
        <h4>Status: Draft</h4>

        <p>This publication is still a draft visible only to you and other authors.</p>
        <p>You need to publish it before this publication is visible in Octopus.</p>

        <hr />

        <div class="text-right">
          <a href="/publications/view/{{publication._id}}" class="btn btn-md">Cancel</a>

          <input type="submit" class="btn btn-md btn-primary" value="Save changes" />
          <!--
          &nbsp;&nbsp;
          <form action="/publications/publish/{{publication._id}}" method="POST" class="form-inline">
            <input type="submit" class="btn btn-md btn-default" value="Publish now" />
          </form>
          -->
        </div>
      </div>
    </div>

  </div>
  </form>
</div>

<!-- EDIT MODE ENABLED -->
<link type="text/css" rel="stylesheet" href="/public/vendor/jodit-3.2.46/jodit.min.css">
<link rel="stylesheet" href="/public/vendor/bootstrap-select-1.13.9/bootstrap-select.min.css">
<script type="text/javascript" src="/public/vendor/jodit-3.2.46/jodit.min.js"></script>
<script src="/public/vendor/bootstrap-select-1.13.9/bootstrap-select.min.js"></script>
<script src="/public/js/authorsSearch.js"></script>

<script>
  var editor = new Jodit('#publicationText', {
    height: 350
  });

  function filterSelectedOptions(_index, element) {
    return $('#publicationCollaboratorsList .selectpicker')
      .map((i, e) => { console.log(e, $(e).val()); return $(e).val() })
      .toArray()
      .includes($(element).val());
  }

  function addCollaboratorField() {
    const $selectPicker = $('.publicationCollaborator').eq(0);
    const $selectPickerClone = $selectPicker.clone();
    const $selectPickerCloneList = $selectPickerClone.find('select');
    const $selectPickerDropdown = $selectPickerClone.find('.dropdown');
    const $currentOptions = $selectPickerCloneList.find('option');

    // Add the new entry
    $selectPickerClone.appendTo("#publicationCollaboratorsList");
    // Remove the old generated dropdown
    $selectPickerCloneList.insertBefore($selectPickerDropdown);
    $selectPickerDropdown.remove();
    // Clear the default value
    $selectPickerCloneList.selectpicker('val', '');
    // Remove already selected options
    $currentOptions.filter(filterSelectedOptions).remove();
    // Refresh the search functionality
    initCollaboratorsSearch($selectPickerCloneList);
  }

  function removeCollaboratorField(self) {
    const $parent = $(self).closest('.publicationCollaborator');
    const $selectPicker = $(self).prev().find('select');
    // Update the list
    if ($parent.index()) {
      // Remove the entry
      $parent.remove();
    } else {
      // First entry - remove the value only
      $selectPicker.selectpicker('val', '');
    }
  }

  $(function () {
    $("#publicationCollaboratorsList").sortable();
    $("#publicationCollaboratorsList").disableSelection();
  });
</script>
