<div class="container-fluid" id="mainBody" role="main">
  <div class="row">
    <div class="col-sm-9">
      {{#if relatedPublication}}
          {{> publications/rateRelatedPublications publicationID=publication._id relatedPublication=relatedPublication relatedPublicationRatings=relatedPublicationRatings }}
      {{/if}}

      {{> publications/versionTabs version=version publication=publication}}


      <div class="pub-title">
        {{#if publication.redFlags}}
        <i class="fa fa-flag fa-lg text-danger publicationRedFlag mr-2"></i>
        {{/if}}
        <h1><span class="text-accent">{{publication.type}}:</span> {{publication.title}}</h1>
      </div>

      <div>
        <strong>Authors:</strong>
        {{> authorsList authors=publication.authors }}
      </div>

      <div>
        <strong>Date added:</strong>
        {{formatDate publication.dateCreated}}
      </div>

      {{#if publication.redFlags}}
        <a href="#" class="label label-danger" data-toggle="modal" data-target="#redFlagHistoryModal">
          View Red Flag History
        </a>
      {{/if}}

      <hr />

      <div class="content-actions-bar">
        <a href="/publications/download-pdf/{{publication._id}}" class="btn btn-primary">
          <span class="fa fa-file-pdf-o"></span>
          <span>Download PDF</span>
        </a>

        <span class="separator"></span>

        {{#if (equals publication.status "LIVE")}}
          <form method="POST" action="/publish/step/1?linked={{publication._id}}" class="form-inline display-inline-block">
            <input type="submit" class="btn btn-md btn-default" value="Write a linked publication">
          </form>

          <span class="separator"></span>

          <form method="POST" action="/publish/step/2?linked={{publication._id}}" class="form-inline display-inline-block">
            <input type="hidden" name="publicationType" value="REVIEW" />
            <input type="submit" class="btn btn-md btn-default" value="Write a review" />
          </form>

          <span class="separator"></span>

          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#redFlagPublicationModal">Red flag</button>
        {{/if}}
      </div>

      <hr />

      <div>
        <h3>Summary</h3>
        {{publication.summary}}
      </div>

      <hr />

      <h3>Full text</h3>
      <div>
        {{{publication.text}}}
      </div>

      <br /><br />
      <hr />

      {{#if publication.viewRelatedPubs}}
        <hr />

        <div id="relatedList">
          <h3>Related publications</h3>
          {{> publications/relatedPublicationsList publication=publication publicationTypes=publicationTypes}}
        </div>

        <hr />

        <div>
          <h3>Add a related publication</h3>
          {{> publications/addRelatedPublications publication=publication}}
        </div>

        {{else}}
          <div>
            <h3>Related publications</h3>
              <span>
                Click <a href="/publications/view/{{publication._id}}?viewRelated=true#relatedList">here</a> to expand this section </span>
          </div>
      {{/if}}
    </div>

    <div class="col-sm-3">
      <div class="sidebar">
        {{#if (equals publication.status "LIVE")}}
          {{> rating}}
        {{/if}}

        {{#if (equals publication.status "DRAFT")}}
          <h4>Status: Draft</h4>
          <p>You can either submit for publication or re-edit.</p>
          <p>Submitting will email your co-authors for authorisation.</p>
          <!--
          <p>As the sole author, submitting will mean this publication is immediately live</p>
          <p>You are the last co-author to check the publication, so clicking submit will mean this publication is immediately live</p>
          -->

          <div class="text-right">
            <a href="/publications/edit/{{publication._id}}" class="btn btn-md btn-xdefault">Edit</a>

            <form action="/publications/publish/{{publication._id}}" method="POST" class="form-inline display-inline-block">
              <input type="submit" class="btn btn-md btn-primary" value="Publish now" />
            </form>
          </div>

        {{/if}}
      </div>

      <br />

      <div class="sidebar">
        <div>
          <h3>Additional information</h3>
          <p>
            <strong>Funding Statement:</strong>
            <br />
            {{publication.fundingStatement}}
          </p>
          <p>
            <strong>Conflict of Interest Declaration:</strong>
            <br />
            {{publication.coiDeclaration}}
          </p>
          <p>
            <strong>CC-BY Licence:</strong>
            <br />
            {{publication.copyrightLicence}}
          <p>
            <strong>Keywords:</strong>
            <br />
            {{publication.keywords}}
          </p>
          <p>
            <strong>Files:</strong>
            <br />
            {{publication.files}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

{{> redFlagPublicationModal publicationTitle=publication.title}}
{{> redFlagHistoryModal publicationTitle=publication.title redFlags = publication.redFlags}}

{{!-- <script>
  var publicationText = '{{{publicationText}}}';
  $(document).ready(() => {
      const frame = document.querySelector('.publicationText');
      frame.contentWindow.document.open('text/html', 'replace');
      frame.contentWindow.document.write(publicationText);
      frame.contentWindow.document.close();
  });

</script> --}}

<script>
  function insertPublicationText(content) {
    console.log(content);
  }
</script>

<link rel="stylesheet" href="/public/vendor/bootstrap-select-1.13.9/bootstrap-select.min.css">
<script src="/public/vendor/bootstrap-select-1.13.9/bootstrap-select.min.js"></script>
