<div class="container-fluid" id="mainBody" role="main">
  <div class="row">
    <div class="col-sm-9">

      <h1><span class="text-accent">{{publication.type}}:</span> {{publication.title}}</h1>

      <a href="/publications/download-pdf/{{publication._id}}">
        <button type="submit" class="btn btn-default downloadPublicationBtn">
          <span class="fa fa-download"></span>
          <span>Download as PDF</span>
        </button>
      </a>

      <p>Authors: {{> authorsList authors=publication.authors }}</p>
      <p>Date added: {{formatDate publication.dateCreated}}</p>

      <hr />

      <div>
        <h3>Summary</h3>
        {{publication.summary}}
      </div>

      <hr />

      <div>
        <h3>Full text</h3>
        {{{publication.text}}}
      </div>

      <hr />

      <div>
        <h3>Additional information</h3>
        <p>
          <strong>Funding Statement:</strong>
          <br />
          {{publication.fundingStatement}}
        </p>
        <p>
          <strong>Conflict of Interest Declaration:</strong>
          <br />
          {{publication.coiDeclaration}}
        </p>
        <p>
          <strong>Keywords:</strong>
          <br />
          {{publication.keywords}}
        </p>
        <p>
          <strong>Files:</strong>
          <br />
          {{publication.files}}
        </p>
      </div>
    </div>

    <div class="col-sm-3" id="sidebar">
      <p>You can either submit for publication or re-edit.</p>
      <br/>
      <p>Submitting will email your co-authors for authorisation
      <p>As the sole author, submitting will mean this publication is immediately live</p>
      <p>You are the last co-author to check the publication, so clicking submit will mean this publication is immediately live</p>

      <hr />

      {{#if (equals publication.status "DRAFT")}}
      <form action="/publications/publish/{{publication._id}}" method="POST">
        <a href="/publications/edit/{{publication._id}}" class="btn btn-md btn-default">Edit</a>
        <input type="submit" class="btn btn-md btn-primary" value="Publish now"/>
      </form>
      {{else}}
      <form method="POST" action="/publish/step/2?id={{publication._id}}" class="form-inline">
        <input type="hidden" name="publicationType" value="REVIEW"/>
        <input type="submit" class="btn btn-md btn-default" value="Write a review"/>
      </form>
      <form method="POST" action="/publish/step/1?id={{publication._id}}">
        <input type="submit" class="btn btn-md btn-default" value="Write a linked publication">
      </form>
      {{/if}}
    </div>

  </div>
</div>